---
layout: default
title: Projects
---

<div class="home">
  <div class="posts">
    {% for project in site.projects %}
      <div class="post">
        <a href="{{ site.url | append: '/' | append: project.name }}" class="post-link" target="_blank">
          <h3 class="h3 post-title">{{ project.title }}</h3>
        </a>
        <p class="post-summary">
          {% if project.summary %}
            {{ project.summary }}
          {% else %}
            {{ project.excerpt }}
          {% endif %}
        </p>
      </div>
    {% endfor %}
  </div>
</div>
