.avatar {
  display: none;
}
@media screen and (min-width: 600px) {
  .avatar {
    border-radius: 50%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-right: 5%;
    width: auto;
    max-width: 100%;
  }
}

.image-txt-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.main-container p {
  margin-left: auto;
  margin-right: auto;
}

.main-container img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
