.about {
  .left {
    margin-right: 25px;
  }
  .avatar {
    border-radius: 50%;
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
  }
}

.center-image {
  margin: 0 auto;
  display: block;
}
